@use '../base/variables' as v;
@use '../base/mixins' as m;

.detail_cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 120rem;
  margin: 4rem auto 4rem auto;
  // background-color: hsla(0 0% 60% / .25);
  // padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(.5rem);

  .detail_header {
    background-color: hsla(0 0% 10% / .5);
    backdrop-filter: blur(.45rem);
    border: .03rem solid hsl(0 100% 100% / .1);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;

    @include m.tablet {
      flex-direction: row;
    }

    .detail_img {
      border-radius: 3%;
      max-height: 100%;
    }

    h1{
      color: hsl(160 100% 50%);
      font-family: v.$fuentePrincipal;
      text-shadow: 0 0 .4rem hsl(0 0% 100%);
      flex: 1;
      font-size: 4rem;
      text-align: center;
    }
  }

  .detail_privateInfo {
    width: 100%;
    background-color: hsla(0 0% 10% / .5);
    border: .03rem solid hsl(0 100% 100% / .1);
    backdrop-filter: blur(.45rem);
    flex: 1;
    padding: 4rem 0 2rem 0;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }

  .detail_infoGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;

    @include m.tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .detail_episodeInfo {
      min-width: 45%;
      max-width: 50%;
      background-color: hsla(0 0% 85% / .2);
      backdrop-filter: blur(.45rem);
      flex: 1;
      padding: 3rem 0 1rem 0;
      border-radius: 1rem;
      height: fit-content;
      

    }
  }

  .detail_infoTitle {
    color: hsl(0 0% 90%);
    text-shadow: 0 0 .3rem hsl(160 100% 60%);
    font-family: v.$fuentePrincipal;
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 4rem;
  }

}
